$colorPrimary: #FFF;
$colorSecondary: #FCF3EC;

$colorHeaderMenu: #525159;

$colorHeaderTextBox:#2D2B36;
$colorHeaderBodyTextBox:#2D2A3E;
$colorTextBox: #7E7FA0;

$colorHeaderPost: #000000;
$colorPostTextBox: #817F8A;

$fontPrimary: 'Manrope', sans-serif;
$fontSecondary: 'Poppins', sans-serif;